input[type="text"].title {
    width: 500px;
    height: 20px;    
}

textarea.blogpost {
    width: 500px;
    height: 300px;
}

input[type="submit"].submit-btn, input[type="reset"].reset-btn {
    border: 2px solid aquamarine;
    padding: 5px 10px !important;
    font-size: 14px !important;
    background-color: aquamarine;
    font-weight: bold;
    color: darkgray;   
}